#aboutall{
	div.row {
		div {
			position: relative;
			margin-bottom: 25px;
			img { width: 100%; }
			h2 {
				position: absolute;
				bottom: 20px;	
				background: rgba(102,102,102,0.9);
				color: #ffffff;
				padding: 10px 20px 10px 50px;
			}	
		}
	}
	
} /* aboutall */