h3, h4, p { font-size: 20px; }
h4 { margin-top: 40px;}

.navbar {
	min-height: 80px; 
	z-index: 3;
	
	.navbar-nav {
		float: right;
	}
	.navbar-nav>li>a{
		color: #000;
		font-size: 18px;
		margin-top: 29px;		
		font-weight: 400;
		font-size: 18px;
	}

}
a.nav-links{ top: -90px; }

a.navbar-brand {
	background-image: url('../img/LOGO_lockup.png');
	height: 60px;
	width: 197px;
	top: 10px;
	left: 10px;
}
a.campaign-link{
	position: absolute;
	top: 10px;
	z-index: 4;
	right: 28px;
	font-size: 18px;
	color: #96b3d9;
	font-weight: 400;
}
#videoModal div.modal-dialog {
	width: 640px;
}

section.splash {
	height: 420px;

	.text-overlay {
		padding-top: 40px;
		padding-bottom: 40px;
		
		h2 { font-size: 30px; }
		a.play-video{ font-size: 30px;}

	}
}

section.who {
	padding-top: 45px;
	padding-bottom: 45px;
	
	img{ margin-top: 65px; }
}

footer {
	padding-top: 25px;
	a:hover, a:active { color: #6493d1; }
	.social a:hover, .social a:active { border-color: #6493d1; }
	.social { margin: 25px auto; }
}
