.navbar {
	min-height: 80px; 
	
	.navbar-nav {
		float: right;
	}
	.navbar-nav>li>a{
		color: #5a95d2;
		font-size: 16px;
		margin: 15px 0;
		font-weight: 400;
	}

}

section.splash {
	height: 684px;	
	background-image: url('../img/splash.jpg');
	background-position: top right;
	background-repeat: no-repeat;
	
	.text-overlay {
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		padding-top: 75px;
		padding-bottom: 75px;
		
		h2, a.play-video { font-size: 44px; }
	}
}