@import url("http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic");
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* line 11, ../sass/screen.scss */
body {
  font-family: 'Lato', sans-serif;
}

/* line 12, ../sass/screen.scss */
.row div {
  overflow: hidden;
}

/* line 15, ../sass/screen.scss */
strong {
  font-weight: 700;
}

/* line 16, ../sass/screen.scss */
i {
  font-style: italic;
}

/* line 17, ../sass/screen.scss */
img.desaturate, .navbar-brand {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* line 23, ../sass/screen.scss */
nav.navbar {
  min-height: 0px;
  background-color: #ffffff;
}
/* line 26, ../sass/screen.scss */
nav.navbar .navbar-header {
  background: #ffffff;
}
/* line 29, ../sass/screen.scss */
nav.navbar .navbar-header .navbar-brand {
  background: url("http://www.stephmonette.com/ixd2/images/logo.jpg") 0 0 no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 75px;
  height: 45px;
}

/* Tablet and Desktop */
@media (min-width: 992px) {
  /* line 44, ../sass/screen.scss */
  nav.navbar {
    margin-bottom: 0;
    background-color: #f8f8f8;
  }
  /* line 48, ../sass/screen.scss */
  nav.navbar .navbar-header {
    float: none;
  }
  /* line 51, ../sass/screen.scss */
  nav.navbar .navbar-header .navbar-brand {
    width: 290px;
    height: 175px;
    clear: both;
    margin: 0 auto;
    display: block;
    float: none;
  }

  /* line 63, ../sass/screen.scss */
  ul.navbar-nav li a {
    padding: 15px 30px;
  }
}
/* line 1, ../sass/_locations.scss */
#locations {
  /* Small Tablet */
  /* Tablet and Desktop */
}
/* line 2, ../sass/_locations.scss */
#locations .results {
  width: 100%;
  overflow: hidden;
  background-image: url("../images/map.png");
  background-repeat: no-repeat;
  min-height: 400px;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
/* line 12, ../sass/_locations.scss */
#locations .results p button {
  margin: 15px 0 0 10px;
}
/* line 15, ../sass/_locations.scss */
#locations .results2 {
  width: 100%;
}
/* line 17, ../sass/_locations.scss */
#locations .results2 p button {
  margin: 15px 0 0 10px;
}
/* line 19, ../sass/_locations.scss */
#locations .results2 ul.list-view {
  margin-top: 20px;
}
/* line 21, ../sass/_locations.scss */
#locations .results2 ul.list-view li {
  margin-top: 10px;
  min-height: 110px;
  border-bottom: 1px solid #aaaaaa;
  padding-bottom: 15px !important;
}
/* line 26, ../sass/_locations.scss */
#locations .results2 ul.list-view li a {
  display: block;
}
/* line 29, ../sass/_locations.scss */
#locations .results2 ul.list-view li .art-info img {
  width: 75px;
  max-height: 100px;
  margin-right: 15px;
  float: left;
}
/* line 35, ../sass/_locations.scss */
#locations .results2 ul.list-view li .art-info h2 {
  font-weight: 700;
}
/* line 38, ../sass/_locations.scss */
#locations .results2 ul.list-view li .art-info, #locations .results2 ul.list-view li .piece-location {
  width: 100%;
  clear: both;
}
/* line 42, ../sass/_locations.scss */
#locations .results2 ul.list-view li .art-info {
  margin-bottom: 10px;
}
/* line 45, ../sass/_locations.scss */
#locations .results2 ul.list-view li .piece-location {
  padding-top: 15px 0;
}
/* line 47, ../sass/_locations.scss */
#locations .results2 ul.list-view li .piece-location p, #locations .results2 ul.list-view li .piece-location a {
  text-align: left;
}
/* line 58, ../sass/_locations.scss */
#locations ul.location-search {
  background-image: url("http://placehold.it/400x100&text=Find%20Hearts");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
}
/* line 67, ../sass/_locations.scss */
#locations ul.location-search li {
  box-sizing: border-box;
  width: 50%;
  display: inline-block;
  float: left;
  height: 44px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: 1px solid #ffffff;
  /*
  			&:first-child{
  				background-image: url('http://placehold.it/450x100&text=By%20Neighborhood');
  			}
  			&:last-child{
  				background-image: url('http://placehold.it/450x100&text=Location');
  			}
  */
}
/* line 80, ../sass/_locations.scss */
#locations ul.location-search li h2, #locations ul.location-search li div.row, #locations ul.location-search li select.big, #locations ul.location-search li a.bylocation {
  display: none;
}
/* line 81, ../sass/_locations.scss */
#locations ul.location-search li a.bylocationmodal {
  display: block;
}
@media (min-device-width: 420px) and (max-device-width: 991px) {
  /* line 99, ../sass/_locations.scss */
  #locations ul.location-search {
    background-image: url("http://placehold.it/800x100&text=Find%20Hearts");
    padding-top: 100px;
  }
  /* line 102, ../sass/_locations.scss */
  #locations ul.location-search li {
    width: 100%;
    height: 200px;
    /*
    				&:first-child{
    					background-image: url('http://placehold.it/450x50/aaaaaa/aaaaaa');
    				}
    				&:last-child{
    					background-image: url('http://placehold.it/450x50/aaaaaa/aaaaaa');
    				}
    */
  }
}
@media (min-width: 992px) {
  /* line 121, ../sass/_locations.scss */
  #locations ul.location-search {
    background-image: url("http://placehold.it/400x150&text=Find%20Hearts");
    padding-top: 150px;
  }
  /* line 124, ../sass/_locations.scss */
  #locations ul.location-search li {
    width: 100%;
    height: 130px;
    padding: 25px;
  }
  /* line 125, ../sass/_locations.scss */
  #locations ul.location-search li button.btn-primary {
    display: none;
  }
  /* line 129, ../sass/_locations.scss */
  #locations ul.location-search li h2 {
    display: block;
    margin-bottom: 10px;
  }
  /* line 133, ../sass/_locations.scss */
  #locations ul.location-search li select.big, #locations ul.location-search li div.row, #locations ul.location-search li a.bylocation {
    display: block;
  }
  /* line 134, ../sass/_locations.scss */
  #locations ul.location-search li:first-child {
    background-image: url("http://placehold.it/450x100/aaaaaa/aaaaaa");
  }
  /* line 137, ../sass/_locations.scss */
  #locations ul.location-search li:last-child {
    background-image: url("http://placehold.it/450x100/aaaaaa/aaaaaa");
  }
  /* line 142, ../sass/_locations.scss */
  #locations .results {
    min-height: 595px;
  }
  /* line 145, ../sass/_locations.scss */
  #locations .results2 {
    width: 100%;
  }
  /* line 147, ../sass/_locations.scss */
  #locations .results2 p button {
    margin: 15px 0 0 10px;
  }
  /* line 149, ../sass/_locations.scss */
  #locations .results2 ul.list-view {
    margin-top: 20px;
  }
  /* line 151, ../sass/_locations.scss */
  #locations .results2 ul.list-view li {
    height: 110px;
    border-bottom: 1px solid #aaaaaa;
  }
  /* line 154, ../sass/_locations.scss */
  #locations .results2 ul.list-view li a {
    display: block;
  }
  /* line 155, ../sass/_locations.scss */
  #locations .results2 ul.list-view li .art-info, #locations .results2 ul.list-view li .piece-location {
    clear: none;
  }
  /* line 156, ../sass/_locations.scss */
  #locations .results2 ul.list-view li .art-info {
    float: left;
    width: 60%;
  }
  /* line 159, ../sass/_locations.scss */
  #locations .results2 ul.list-view li .art-info img {
    width: 75px;
    max-height: 100px;
    margin-right: 15px;
    float: left;
  }
  /* line 165, ../sass/_locations.scss */
  #locations .results2 ul.list-view li .art-info h2 {
    font-weight: 700;
  }
  /* line 168, ../sass/_locations.scss */
  #locations .results2 ul.list-view li .piece-location {
    width: 40%;
    float: right;
  }
}

/*
.results2 {
	width: 100%;
	p button {margin: 15px 0 0 10px;}
	
	ul.list-view{
		margin-top: 20px;
		li {
			margin-top: 10px;
			min-height: 110px;
			border-bottom: 1px solid #aaaaaa;
			padding-bottom: 15px !important;
			a { display: block;}
			.art-info {

				img {
					width: 75px;
					max-height: 100px;
					margin-right: 15px;
					float: left;
				}	
				h2{ font-weight: 700; }
			}

			.art-info, .piece-location {
				width: 100%;
				clear: both;
			}
			.art-info{
				margin-bottom: 10px;
			}
			.piece-location {
				padding-top: 15px 0;
				p, a {
					text-align: left;
				}
			}
		}

	}
}
*/
/*
	ul.location-search{
		background-image: url('http://placehold.it/400x150&text=Find%20Hearts');
		padding-top: 150px;
		li{
			button{ display: none; }
			width: 100%;
			height: 130px;
			padding: 25px;
			h2{
				display: block;
				margin-bottom: 10px;
			}
			select.big, div.row { display: block; }
			&:first-child{
				background-image: url('http://placehold.it/450x100/aaaaaa/aaaaaa');
			}
			&:last-child{
				background-image: url('http://placehold.it/450x100/aaaaaa/aaaaaa');
			}
		}
	}
	.results {
		min-height: 595px;
	}

	.results2 {
	width: 100%;
	p button {margin: 15px 0 0 10px;}
	
	ul.list-view{
		li {
			height: 110px;
			border-bottom: 1px solid #aaaaaa;
			.art-info {
				float: left;
				width: 60%;
				clear: none;
			}

			.piece-location {
				width: 40%;
				float: right;
				clear: none;
			}
		}

	}
}
	
*/
/*
ul.location-search{
	background-image: url('http://placehold.it/400x100&text=Find%20Hearts');
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 100px;

	li { 
		box-sizing: border-box;
		width: 50%;
		display: inline-block;
		float: left;
		height: 44px;
		background-repeat:no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		border: 1px solid #ffffff;
		
		h2, div.row, select.big { display: none; }
	
		&:first-child{
			background-image: url('http://placehold.it/450x100&text=By%20Neighborhood');
		}
		&:last-child{
			background-image: url('http://placehold.it/450x100&text=Location');
		}
	}

}
*/
/* line 3, ../sass/_about.scss */
#aboutall div.row#heart-grid div {
  position: relative;
  margin-bottom: 25px;
}
/* line 6, ../sass/_about.scss */
#aboutall div.row#heart-grid div img {
  width: 100%;
}
/* line 7, ../sass/_about.scss */
#aboutall div.row#heart-grid div h2 {
  position: absolute;
  bottom: 20px;
  background: rgba(102, 102, 102, 0.7);
  color: #ffffff;
  padding: 10px 20px 10px 50px;
}
/* line 13, ../sass/_about.scss */
#aboutall div.row#heart-grid div h2:hover {
  background: #666666;
}

/* aboutall */
/* line 24, ../sass/_about.scss */
#aboutone img.defaultimg {
  width: 70%;
  margin: 0 auto;
}
/* line 27, ../sass/_about.scss */
#aboutone #collapseOne a {
  display: block;
  padding: 15px 0;
}
/* line 30, ../sass/_about.scss */
#aboutone #collapseOne a.tour {
  margin-top: 20px;
}
/* line 37, ../sass/_about.scss */
#aboutone #collapseFour img {
  width: 100%;
}
@media (min-width: 768px) {
  /* line 41, ../sass/_about.scss */
  #aboutone img.defaultimg {
    width: 100%;
  }
  /* line 42, ../sass/_about.scss */
  #aboutone #collapseOne a {
    padding: 10px 0;
  }
}
