@import url("http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic");
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* line 11, ../sass/screen.scss */
body {
  font-family: 'Lato', sans-serif;
}

/* line 12, ../sass/screen.scss */
.row div {
  overflow: hidden;
}

/* line 15, ../sass/screen.scss */
strong {
  font-weight: 700;
}

/* line 16, ../sass/screen.scss */
i {
  font-style: italic;
}

/* line 17, ../sass/screen.scss */
nav.navbar {
  min-height: 0px;
  background-color: #ffffff;
}
/* line 20, ../sass/screen.scss */
nav.navbar .navbar-header {
  background: #ffffff;
}
/* line 23, ../sass/screen.scss */
nav.navbar .navbar-header .navbar-brand {
  background: url("http://localhost:8888/ixd2-proto/images/logo.jpg") 0 0 no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 75px;
  height: 45px;
}

/* Tablet and Desktop */
@media (min-width: 992px) {
  /* line 37, ../sass/screen.scss */
  nav.navbar {
    margin-bottom: 0;
    background-color: #f8f8f8;
  }
  /* line 41, ../sass/screen.scss */
  nav.navbar .navbar-header {
    float: none;
  }
  /* line 44, ../sass/screen.scss */
  nav.navbar .navbar-header .navbar-brand {
    width: 290px;
    height: 175px;
    clear: both;
    margin: 0 auto;
    display: block;
    float: none;
  }

  /* line 55, ../sass/screen.scss */
  ul.navbar-nav li a {
    padding: 15px 30px;
  }
}
/* line 1, ../sass/_locations.scss */
#locations {
  /* Small Tablet */
  /* Tablet and Desktop */
}
/* line 3, ../sass/_locations.scss */
#locations .results2 {
  width: 100%;
}
/* line 5, ../sass/_locations.scss */
#locations .results2 p button {
  margin: 15px 0 0 10px;
}
/* line 7, ../sass/_locations.scss */
#locations .results2 ul.list-view {
  margin-top: 20px;
}
/* line 9, ../sass/_locations.scss */
#locations .results2 ul.list-view li {
  height: 110px;
  border-bottom: 1px solid #aaaaaa;
}
/* line 12, ../sass/_locations.scss */
#locations .results2 ul.list-view li a {
  display: block;
}
/* line 13, ../sass/_locations.scss */
#locations .results2 ul.list-view li .art-info {
  float: left;
  width: 60%;
}
/* line 16, ../sass/_locations.scss */
#locations .results2 ul.list-view li .art-info img {
  width: 75px;
  max-height: 100px;
  margin-right: 15px;
  float: left;
}
/* line 22, ../sass/_locations.scss */
#locations .results2 ul.list-view li .art-info h2 {
  font-weight: 700;
}
/* line 25, ../sass/_locations.scss */
#locations .results2 ul.list-view li .piece-location {
  width: 40%;
  float: right;
}
/* line 34, ../sass/_locations.scss */
#locations ul.location-search {
  background-image: url("http://placehold.it/400x100&text=Find%20Hearts");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
}
/* line 43, ../sass/_locations.scss */
#locations ul.location-search li {
  box-sizing: border-box;
  width: 50%;
  display: inline-block;
  float: left;
  height: 44px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: 1px solid #ffffff;
}
/* line 56, ../sass/_locations.scss */
#locations ul.location-search li h2, #locations ul.location-search li div.row, #locations ul.location-search li select.big {
  display: none;
}
/* line 58, ../sass/_locations.scss */
#locations ul.location-search li:first-child {
  background-image: url("http://placehold.it/450x100&text=By%20Neighborhood");
}
/* line 61, ../sass/_locations.scss */
#locations ul.location-search li:last-child {
  background-image: url("http://placehold.it/450x100&text=Location");
}
@media (min-device-width: 420px) and (max-device-width: 991px) {
  /* line 72, ../sass/_locations.scss */
  #locations ul.location-search {
    background-image: url("http://placehold.it/800x100&text=Find%20Hearts");
    padding-top: 100px;
  }
  /* line 75, ../sass/_locations.scss */
  #locations ul.location-search li {
    width: 100%;
    height: 200px;
  }
  /* line 78, ../sass/_locations.scss */
  #locations ul.location-search li:first-child {
    background-image: url("http://placehold.it/450x50/aaaaaa/aaaaaa");
  }
  /* line 81, ../sass/_locations.scss */
  #locations ul.location-search li:last-child {
    background-image: url("http://placehold.it/450x50/aaaaaa/aaaaaa");
  }
}
@media (min-width: 992px) {
  /* line 94, ../sass/_locations.scss */
  #locations ul.location-search {
    background-image: url("http://placehold.it/400x150&text=Find%20Hearts");
    padding-top: 150px;
  }
  /* line 97, ../sass/_locations.scss */
  #locations ul.location-search li {
    width: 100%;
    height: 130px;
    padding: 25px;
  }
  /* line 98, ../sass/_locations.scss */
  #locations ul.location-search li button {
    display: none;
  }
  /* line 102, ../sass/_locations.scss */
  #locations ul.location-search li h2 {
    display: block;
    margin-bottom: 10px;
  }
  /* line 106, ../sass/_locations.scss */
  #locations ul.location-search li select.big, #locations ul.location-search li div.row {
    display: block;
  }
  /* line 107, ../sass/_locations.scss */
  #locations ul.location-search li:first-child {
    background-image: url("http://placehold.it/450x100/aaaaaa/aaaaaa");
  }
  /* line 110, ../sass/_locations.scss */
  #locations ul.location-search li:last-child {
    background-image: url("http://placehold.it/450x100/aaaaaa/aaaaaa");
  }
  /* line 115, ../sass/_locations.scss */
  #locations .results {
    min-height: 595px;
  }
}

/* line 3, ../sass/_about.scss */
#aboutall div.row#heart-grid div {
  position: relative;
  margin-bottom: 25px;
}
/* line 6, ../sass/_about.scss */
#aboutall div.row#heart-grid div img {
  width: 100%;
}
/* line 7, ../sass/_about.scss */
#aboutall div.row#heart-grid div h2 {
  position: absolute;
  bottom: 20px;
  background: rgba(102, 102, 102, 0.9);
  color: #ffffff;
  padding: 10px 20px 10px 50px;
}
/* line 13, ../sass/_about.scss */
#aboutall div.row#heart-grid div h2:hover {
  background: #666666;
}

/* aboutall */
/* line 24, ../sass/_about.scss */
#aboutone img.defaultimg {
  width: 70%;
  margin: 0 auto;
}
/* line 27, ../sass/_about.scss */
#aboutone #collapseOne a {
  display: block;
  padding: 15px 0;
}
/* line 30, ../sass/_about.scss */
#aboutone #collapseOne a.tour {
  margin-top: 20px;
}
/* line 37, ../sass/_about.scss */
#aboutone #collapseFour img {
  width: 100%;
}
@media (min-width: 768px) {
  /* line 41, ../sass/_about.scss */
  #aboutone img.defaultimg {
    width: 100%;
  }
  /* line 42, ../sass/_about.scss */
  #aboutone #collapseOne a {
    padding: 10px 0;
  }
}
