section.splash {
  height: 620px;
}
section.splash .text-overlay {
  padding-top: 55px;
  padding-bottom: 55px;
}
section.splash .text-overlay h2 {
  font-size: 36px;
}
section.splash .text-overlay a.play-video {
  font-size: 36px;
}

#videoModal div.modal-dialog {
  width: 853px;
}

.row.benefits {
  padding-bottom: 150px;
}
.row.benefits h4, .row.benefits p {
  position: relative;
  z-index: 2;
  padding-right: 475px;
}
.row.benefits img {
  display: block;
  position: absolute;
  z-index: 1;
  top: 55px;
  right: -75px;
  width: 50%;
}
