/* line 1, ../sass/tablet.scss */
.navbar {
  min-height: 80px;
}
/* line 4, ../sass/tablet.scss */
.navbar .navbar-nav {
  float: right;
}
/* line 7, ../sass/tablet.scss */
.navbar .navbar-nav > li > a {
  color: #5a95d2;
  font-size: 16px;
  margin: 15px 0;
  font-weight: 400;
}

/* line 16, ../sass/tablet.scss */
section.splash {
  height: 684px;
  background-image: url("../img/splash.jpg");
  background-position: top right;
  background-repeat: no-repeat;
}
/* line 22, ../sass/tablet.scss */
section.splash .text-overlay {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  padding-top: 75px;
  padding-bottom: 75px;
}
/* line 29, ../sass/tablet.scss */
section.splash .text-overlay h2, section.splash .text-overlay a.play-video {
  font-size: 44px;
}
